<div class="main-wrap">
			<div class="container">
				<!-- Events content -->
				<div class="col-md-12">
					<div class="events-wrap events-wrap-big">
						<ul>
							<li>
								<div class="row">
									<div class="col-md-12">
										<div class="date">22<span>Sep</span></div>
										<h4>Student Ministries <span><a href="#">All Church Hymn Sing</a></span></h4>
										<div class="time">12:30 pm - Bethlehem Church</div>
									</div>
									<div class="col-md-4">
										<ul class="hb-social">
											<li class="hb-fb"><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li class="hb-tw"><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li class="hb-plus"><a href="#"><i class="fa fa-plus"></i></a></li>
										</ul>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-md-12">
										<div class="date">22<span>Sep</span></div>
										<h4>All Church<span><a href="#">Child Dedications</a></span></h4>
										<div class="time">12:30 pm - Bethlehem Church</div>
									</div>
									<div class="col-md-4">
										<ul class="hb-social">
											<li class="hb-fb"><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li class="hb-tw"><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li class="hb-plus"><a href="#"><i class="fa fa-plus"></i></a></li>
										</ul>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-md-12">
										<div class="date">25<span>Sep</span></div>
										<h4>Classes<span><a href="#">Class: How to Study the Bible</a></span></h4>
										<div class="time">12:30 pm - Bethlehem Church</div>
									</div>
									<div class="col-md-4">
										<ul class="hb-social">
											<li class="hb-fb"><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li class="hb-tw"><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li class="hb-plus"><a href="#"><i class="fa fa-plus"></i></a></li>
										</ul>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-md-12">
										<div class="date">26<span>Sep</span></div>
										<h4>Student Ministries<span><a href="#">Class: Biblical Vision of Justice</a></span></h4>
										<div class="time">12:30 pm - Bethlehem Church</div>
									</div>
									<div class="col-md-4">
										<ul class="hb-social">
											<li class="hb-fb"><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li class="hb-tw"><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li class="hb-plus"><a href="#"><i class="fa fa-plus"></i></a></li>
										</ul>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-md-12">
										<div class="date">28<span>Sep</span></div>
										<h4>Student Ministries <span><a href="#">All Church Hymn Sing</a></span></h4>
										<div class="time">12:30 pm - Bethlehem Church</div>
									</div>
									<div class="col-md-4">
										<ul class="hb-social">
											<li class="hb-fb"><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li class="hb-tw"><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li class="hb-plus"><a href="#"><i class="fa fa-plus"></i></a></li>
										</ul>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-md-12">
										<div class="date">29<span>Sep</span></div>
										<h4>Student Ministries <span><a href="#">Class: God's Mission</a></span></h4>
										<div class="time">12:30 pm - Bethlehem Church</div>
									</div>
									<div class="col-md-4">
										<ul class="hb-social">
											<li class="hb-fb"><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li class="hb-tw"><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li class="hb-plus"><a href="#"><i class="fa fa-plus"></i></a></li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="page-meta">
						<div class="space25"></div>
						<ul class="page-nav">
							<li>Page 1 of 5 
							</li><li>
							</li><li class="active"><a href="#">1</a>
							</li><li>
							</li><li><a href="#">2</a>
							</li><li>
							</li><li><a href="#">3</a>
							</li><li>
							</li><li><a href="#">4</a>
							</li><li>
							</li><li><a href="#">5</a>
							</li><li>
						</li></ul>
						<ul class="page-nav-links">
							<li><a href="#">« Previous page</a></li>
							<li><a href="#">Next page »</a></li>
						</ul>
					</div>
				</div>
				<aside class="col-md-4">
					<div class="side-widget">
						<h5>Events Category</h5>
						<ul class="categories">
							<li><a href="#">Student Ministries(31)</a></li>
							<li><a href="#">All Church(25)</a></li>
							<li><a href="#">Adult Ministries(16)</a></li>
							<li><a href="#">Classes(12)</a></li>
						</ul>
					</div>
					<div class="space50"></div>
					<div class="side-widget">
						<h5>Sort by months</h5>
						<ul class="categories">
							<li><a href="#">September 2013</a></li>
							<li><a href="#">October 2013</a></li>
							<li><a href="#">November 2013</a></li>
							<li><a href="#">December 2013</a></li>
							<li><a href="#">January 2014</a></li>
							<li><a href="#">February 2014</a></li>
							<li><a href="#">March 2013</a></li>
						</ul>
					</div>
					<div class="space50"></div>
					<div class="side-widget">
						<h5>Newsletter</h5>
						<div class="newsletter">
							<p class="space15">Sign up and be first to know about new events and other stuff</p>
							<input type="text" placeholder="Your E-mail afres">
							<a href="#">Sign up</a>
						</div>
					</div>
				</aside>
				<!-- Events content -->
			</div>
		</div>