<div class="main-wrap">
    <div class="container">
        <!-- Blog content -->
        <div class="col-md-16 masonry-blog" id="portfolio">
            <div class="row">
                <div class="col-md-4 col-md-offset-12">
                    <div class="side-widget">
                        <h5>Eres administrador ?</h5>
                        <div>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary btn-lg btn-yellow" onclick="showModalNew();">
                                Nuevo
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="folio" class="isotope" style="position: relative; overflow: hidden; height: 1599px;">
                    <div class="portfolio-inner">
                        <div class="folio-item col-md-4 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                            <article>
                                <img src="../../../Content/bethlehem/demo/blog/1.jpg" class="img-responsive" alt="">
                                <div class="post-info">
                                    <span class="post-meta">Abril 2012 / <a href="#">Ayduando</a></span>
                                    <h4><a href="#">Lorem ipsum dolor sit amet</a></h4>
                                    <p>Sed eu orci dictum, condimentum orci et, adipiscing leo. Etiam luctus tincidunt neque non posuere. Praesent eu augue...</p>
                                    <div class="line"></div>
                                    <a href="#" class="hb-more">Leer mas</a>
                                    <ul class="hb-social">
                                        <li class="hb-fb"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="hb-tw"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="hb-plus"><a href="#"><i class="fa fa-plus"></i></a></li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        <div class="folio-item col-md-4 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(385px, 0px, 0px);">
                            <article>
                                <div class="post-info">
                                    <span class="post-meta">5 de Abril del 2016 / <a href="#">Ayudando</a></span>
                                    <h4><a href="#">Ayudando al hogar de ninios </a></h4>
                                    <p>Sed eu orci dictum, condimentum orci et, adipiscing leo. Etiam luctus tincidunt neque non posuere. Praesent eu augue...</p>
                                    <div class="line"></div>
                                    <a href="#" class="hb-more">Leer mas</a>
                                    <ul class="hb-social">
                                        <li class="hb-fb"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="hb-tw"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="hb-plus"><a href="#"><i class="fa fa-plus"></i></a></li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        <div class="folio-item col-md-4 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(770px, 0px, 0px);">
                            <article>
                                <img src="../../../Content/bethlehem/demo/blog/2.jpg" class="img-responsive" alt="">
                                <div class="post-info">
                                    <span class="post-meta">5 de Abril del 2016 / <a href="#">Ayudando</a></span>
                                    <h4><a href="#">Ayudando al hogar de ninios </a></h4>
                                    <p>Sed eu orci dictum, condimentum orci et, adipiscing leo. Etiam luctus tincidunt neque non posuere. Praesent eu augue...</p>
                                    <div class="line"></div>
                                    <a href="#" class="hb-more">Leer mas</a>
                                    <ul class="hb-social">
                                        <li class="hb-fb"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="hb-tw"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="hb-plus"><a href="#"><i class="fa fa-plus"></i></a></li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        <div class="folio-item col-md-4 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(385px, 320px, 0px);">
                            <article>
                                <img src="demo/blog/grid/3.jpg" class="img-responsive" alt="">
                                <div class="post-info">
                                    <span class="post-meta">5 de Abril del 2016 / <a href="#">Ayudando</a></span>
                                    <h4><a href="#">Ayudando al hogar de ninios </a></h4>
                                    <p>Sed eu orci dictum, condimentum orci et, adipiscing leo. Etiam luctus tincidunt neque non posuere. Praesent eu augue...</p>
                                    <div class="line"></div>
                                    <a href="#" class="hb-more">Leer mas</a>
                                    <ul class="hb-social">
                                        <li class="hb-fb"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="hb-tw"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="hb-plus"><a href="#"><i class="fa fa-plus"></i></a></li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        <div class="folio-item col-md-4 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 533px, 0px);">
                            <article>
                                <img src="demo/blog/grid/4.jpg" class="img-responsive" alt="">
                                <div class="post-info">
                                    <span class="post-meta">5 de Abril del 2016 / <a href="#">Ayudando</a></span>
                                    <h4><a href="#">Ayudando al hogar de ninios </a></h4>
                                    <p>Sed eu orci dictum, condimentum orci et, adipiscing leo. Etiam luctus tincidunt neque non posuere. Praesent eu augue...</p>
                                    <div class="line"></div>
                                    <a href="#" class="hb-more">Leer mas</a>
                                    <ul class="hb-social">
                                        <li class="hb-fb"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="hb-tw"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="hb-plus"><a href="#"><i class="fa fa-plus"></i></a></li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        <div class="folio-item col-md-4 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(770px, 533px, 0px);">
                            <article>
                                <img src="demo/blog/grid/5.jpg" class="img-responsive" alt="">
                                <div class="post-info">
                                    <span class="post-meta">5 de Abril del 2016 / <a href="#">Ayudando</a></span>
                                    <h4><a href="#">Ayudando al hogar de ninios </a></h4>
                                    <p>Sed eu orci dictum, condimentum orci et, adipiscing leo. Etiam luctus tincidunt neque non posuere. Praesent eu augue...</p>
                                    <div class="line"></div>
                                    <a href="#" class="hb-more">Leer mas</a>
                                    <ul class="hb-social">
                                        <li class="hb-fb"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="hb-tw"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="hb-plus"><a href="#"><i class="fa fa-plus"></i></a></li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        <div class="folio-item col-md-4 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(385px, 853px, 0px);">
                            <article>
                                <img src="demo/blog/grid/7.jpg" class="img-responsive" alt="">
                                <div class="post-info">
                                    <span class="post-meta">5 de Abril del 2016 / <a href="#">Ayudando</a></span>
                                    <h4><a href="#">Ayudando al hogar de ninios </a></h4>
                                    <p>Sed eu orci dictum, condimentum orci et, adipiscing leo. Etiam luctus tincidunt neque non posuere. Praesent eu augue...</p>
                                    <div class="line"></div>
                                    <a href="#" class="hb-more">Leer mas</a>
                                    <ul class="hb-social">
                                        <li class="hb-fb"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="hb-tw"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="hb-plus"><a href="#"><i class="fa fa-plus"></i></a></li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        <div class="folio-item col-md-4 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 1066px, 0px);">
                            <article>
                                <img src="demo/blog/grid/6.jpg" class="img-responsive" alt="">
                                <div class="post-info">
                                    <div class="post-info">
                                        <span class="post-meta">5 de Abril del 2016 / <a href="#">Ayudando</a></span>
                                        <h4><a href="#">Ayudando al hogar de ninios </a></h4>
                                        <p>Sed eu orci dictum, condimentum orci et, adipiscing leo. Etiam luctus tincidunt neque non posuere. Praesent eu augue...</p>
                                        <div class="line"></div>
                                        <a href="#" class="hb-more">Leer mas</a>
                                        <ul class="hb-social">
                                            <li class="hb-fb"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li class="hb-tw"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li class="hb-plus"><a href="#"><i class="fa fa-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="folio-item col-md-4 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(770px, 1066px, 0px);">
                            <article>
                                <img src="demo/blog/grid/8.jpg" class="img-responsive" alt="">
                                <div class="post-info">
                                    <span class="post-meta">5 de Abril del 2016 / <a href="#">Ayudando</a></span>
                                    <h4><a href="#">Ayudando al hogar de ninios </a></h4>
                                    <p>Sed eu orci dictum, condimentum orci et, adipiscing leo. Etiam luctus tincidunt neque non posuere. Praesent eu augue...</p>
                                    <div class="line"></div>
                                    <a href="#" class="hb-more">Leer mas</a>
                                    <ul class="hb-social">
                                        <li class="hb-fb"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="hb-tw"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="hb-plus"><a href="#"><i class="fa fa-plus"></i></a></li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-meta">
                <ul class="page-nav">
                    <li>
                        Pagina 1 de 5
                    </li>
                    <li></li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li></li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li></li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li></li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li></li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li></li>
                </ul>
                <ul class="page-nav-links">
                    <li><a href="#">« Anterior</a></li>
                    <li><a href="#">Siguiente »</a></li>
                </ul>
            </div>
        </div>
        <!-- Blog content -->
    </div>
</div>
<script src="/Scripts/app/controllers/news.js"></script>